main {
    height: 80vh;
}
body {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 2vw;
    background-color: lightsteelblue;
    justify-content: center;
    text-align: center;
}
.pair-container {
    max-height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    width: 100%;
}
.container-1 {
    font-size: max(16px, 16px);
    max-height: 300px;
    max-width: 600px;
    text-wrap: wrap;
    text-align: center;
    padding-top: 0vw;
    margin-left: 8vw;
    height: 35vw;
    min-height: 280px;
    min-width: 200px;
    width: 30vw;
    background-color: paleturquoise;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);;
}
.container-2 {
    font-size: max(16px, 16px);
    max-height: 300px;
    max-width: 600px;
    text-align: center;
    padding-top: 0vw;
    margin-left: 5vw;
    margin-right: 5vw;
    height: 35vw;
    width: 30vw;
    min-height: 280px;
    min-width: 200px;
    background-color: paleturquoise;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.container-1:hover {
    background-color: lightcyan;
    transform: rotate(-3deg) scale(1.05);
    transition: 0.2s ease-out;
}
.container-2:hover {
    background-color: lightcyan;
    transform: rotate(3deg) scale(1.05);
    transition: 0.2s ease-in-out;   
}
.dunno_button {
    font-size: max(16px, 16px);
    margin:auto;
    max-width: 450px;
    max-height: 20px;
    background-color: palegoldenrod;
    width: 50vw;
    height: 3vw;
    border-radius: 10px;
    font-weight: bold;
    color: black;
    padding: 15px 32px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.dunno_button:hover {
    background-color: lightgoldenrodyellow;
    transform: rotate(3deg) scale(1.05);
    transition: 0.2s ease-in-out;   
}
.image {
    max-width: max-content;
    max-height: max-content;
    border-radius: 10px;
}
.previous_battle {
    font-size: max(10px, 16px);
    max-width: 900px;
    max-height: 90px;
    min-height: 80px;
    margin:auto;
    background-color: pink;
    width: 78vw;
    height: 10vw;
    border-radius: 10px;
    font-weight: bold;
    color: black;
    /* padding: 15px 15vw; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); */
    
}